# Entornos de desarrollo y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del sistema operativo (Windows / macOS)
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride

# Node.js (por si decides usar npm en el futuro)
node_modules/
npm-debug.log
yarn-error.log
.env

# Archivos de registro (Logs)
logs
*.log

# Archivos temporales o de caché
.DS_Store
.sass-cache/
*.cache
*.tmp
